* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    display: grid;
    grid-template: 150px auto / 225px auto;
    width: 100%;
    height: 100%;
}

#sidebar {
    grid-row: 1 / 3;
    background-color: rgb(13, 110, 238);
}

#header {
    grid-column-start: 2;
}

#main {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: lightgray;
}